@import url(normalize.min.css);
@import url(github-markdown.css);
@import url(simplebar.css);
@import url(syntax.css);
* {
  box-sizing: border-box; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #E9E7DA; }

a {
  color: #CDA34F; }
  a:hover {
    color: #CDA34F; }

/* -----------*/
main {
  /* position: absolute;
   top: 0px;
   left: 0px;*/
  width: 100%;
  height: 100%;
  transition: margin-left 0.6s ease, width 0.6s ease; }

.content {
  width: 100%;
  height: 100%; }
  .content.site-content {
    padding: 4rem 1rem 4rem 1rem;
    transition: padding 0.6s ease; }
  .content.list-content {
    padding: 1rem 0.5rem 4rem 0.5rem;
    transition: padding 0.6s ease; }

.summary .summary-img {
  height: 100px;
  width: 100%;
  border-top-left-radius: calc(0.125rem - 1px);
  border-top-right-radius: calc(0.125rem - 1px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

.card-img-left {
  width: 100px;
  height: 100px;
  display: inline-block; }

.tag-item {
  border-width: 0 !important;
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .tag-item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .tag-item a {
    text-decoration: none; }

/* post */
.breadcrumb li.active a {
  color: #868e96; }

ul.pagination {
  margin: auto; }
  ul.pagination li {
    padding-left: 5px;
    padding-right: 5px; }

/* footer */
.footer {
  height: 100px;
  background: #373F27; }
  .footer .copyright {
    text-decoration: none; }

/*---------*/
/* media queries ---*/
/*Small devices (landscape phones, 576px and up)*/
/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  main {
    margin-left: 30%;
    width: 70%; }

  .content.site-content {
    padding: 1rem 2rem 2rem 2rem; }
  .content.list-content {
    padding: 1rem 1rem 4rem 1rem; }

  .summary {
    flex-direction: row; }
    .summary .summary-img {
      min-width: 180px;
      width: 30%;
      height: inherit;
      border-top-left-radius: calc(0.125rem - 1px);
      border-bottom-left-radius: calc(0.125rem - 1px); } }
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  main {
    margin-left: 300px;
    width: calc(100% - 300px); }

  .content.site-content {
    padding: 1rem 4rem 2rem 4rem; }
  .content.list-content {
    padding: 1rem 2rem 4rem 2rem; }

  .summary .summary-img {
    max-width: 300px; } }
/*// Extra large devices (large desktops, 1200px and up)*/
/*@media (min-width: 1200px) { ... }*/
/* @keyframes expand { */
/*  from { width: 0; } */
/*   to   { width: $maxDrawerWidth; } */
/* } */
/* @keyframes shrink { */
/*   from { */
/*     margin-left: 0%; */
/*     width: 100%; */
/*   } */
/*   to { */
/*     width: 70%; */
/*     margin-left: 30%; */
/*   } */
/* } */
/* @keyframes fadeout { */
/*     from { */
/*         opacity: 1; */
/*     } */
/*     to { */
/*         opacity: 0; */
/*     } */
/* } */
/* @keyframes slideout { */
/*   from { */
/*     margin-left: 0; */
/*   } */
/*   to { */
/*     margin-left: -$drawerWidth; */
/*   } */
/* } */
.navbar-bg {
  background: #636B46; }

.avatar {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%; }

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: yellow; }

/* override bootstrap */
.btn.btn-primary {
  color: #CDA34F; }

.nav-tabs .nav-link.active {
  border-color: #636B46; }

.nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
  border-color: #CDA34F; }

#dismiss:hover {
  color: #CD8446; }

/* head toolbar and drawer */
.nav-area {
  position: fixed;
  z-index: 10;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row; }

.toolbar {
  width: 100%;
  height: 50px;
  pointer-events: all;
  flex: 1;
  transition: height 0.6s ease; }

.menu-icon {
  width: 30px;
  height: 22.5px;
  position: relative; }

.menu-bar {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background: #CDA34F; }

.menu-middle-bar {
  top: 9px; }

.menu-bottom-bar {
  top: 18px; }

.menu-top-bar, .menu-bottom-bar {
  transform: rotate(0deg);
  transform-origin: 0% 50%;
  transition: transform 0.6s ease, top 0.6s ease, left 0.6s ease; }

.menu-middle-bar {
  transition: opacity 0.6s ease; }

.close-menu .menu-top-bar {
  transform: rotate(45deg);
  top: -1.5px;
  left: 4px; }
.close-menu .menu-middle-bar {
  opacity: 0; }
.close-menu .menu-bottom-bar {
  transform: rotate(-45deg);
  top: 19.5px;
  left: 4px; }

.navbar.header {
  flex-wrap: nowrap !important;
  justify-content: flex-start; }

.site-title.navbar-text {
  white-space: nowrap; }

.nav.extra {
  flex-wrap: nowrap; }

.drawer {
  flex-shrink: 0;
  height: 100%;
  width: 240px;
  margin-left: -240px;
  background: #E9E7DA;
  pointer-events: all;
  transition: width 0.6s ease, margin-left 0.6s ease; }
  .drawer.show {
    margin-left: 0px; }
  .drawer.hide {
    margin-left: -240px; }

.drawer-content {
  width: 100%;
  height: 100%; }

.toggle-menu {
  cursor: hand; }
  .toggle-menu svg.menu-icon {
    fill: #CDA34F; }

ul.hoverable {
  list-style: none; }
  ul.hoverable li {
    display: block;
    height: 50px;
    position: relative; }
    ul.hoverable li a {
      display: block;
      height: 100%;
      line-height: 50px; }
    ul.hoverable li ul.hovered {
      list-style: none;
      display: none !important; }
      ul.hoverable li ul.hovered li {
        width: calc(100% - $drawerWidth);
        max-width: 144px; }
    ul.hoverable li:hover ul.hovered {
      display: flex;
      position: absolute;
      top: 0;
      left: 50%;
      width: 192px;
      height: 50px;
      padding-left: 0;
      transform: translate(50%, 0); }

@media (min-width: 768px) {
  .toolbar {
    height: 0;
    overflow: hidden; }

  .drawer {
    width: 30%;
    margin-left: 0px !important; } }
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .drawer {
    width: 300px; } }
/*social icons */
.social {
  display: inline-block;
  /*width: 30px ;*/
  /*height: 30px;*/
  /*border-radius: 50%;*/
  /*background-color: red; */ }

.social svg path {
  fill: #E9E7DA;
  transition-duration: 0.6s;
  transition-timing-function: ease-in; }

.email svg:hover #email {
  fill: #3294C5 !important; }

.facebook svg:hover #facebook {
  fill: #3b5998 !important; }

.github svg:hover #github {
  fill: #24292E !important; }

.instagram svg:hover #instagram {
  fill: #e95950 !important; }

.linkedin svg:hover #linkedin {
  fill: #007bb5 !important; }

.rss svg:hover #rss {
  fill: #ff6600 !important; }

.sinaweibo svg:hover #sinaweibo {
  fill: #cb2027 !important; }

.stackoverflow svg:hover #stackoverflow {
  fill: #F58238 !important; }

.twitter svg:hover #twitter {
  fill: #55acee !important; }

.youtube svg:hover #youtube {
  fill: #ff0000 !important; }

/*# sourceMappingURL=index.css.map */
