{{ define "main" }}
  
  <article class="">
      <h2> {{ .Title }}</h2>
      <div class="card">
        <div class="card-body">
          {{ .Content }}
        </div>
      </div>
      
    </div>
  </article>

<div class="content list-content">
  <div class="">
    {{ $section := where .Data.Pages "Section" .Section }}
    <section class="">
      {{ range  $section }}
        <div class="">
          {{ partial "summary.html" . }}
        </div>
        <div class="py-1"></div>
      {{ end }}
    </section>
  {{ template "_internal/pagination.html" . }}
  </div>
</div>
{{ end }}
