
{{ define "main" }}
{{ $data := .Data }}
<h3>{{ .Title }}</h3>
{{if .Content }}
<div class="card">
    
<div class="card-body">
    <div class="card-text">
        {{ .Content}}
    </div>
</div>
</div>
{{end }}
    <ul class="nav nav-tabs " id="tagsNav" role="tablist">
        {{ $.Scratch.Set "active" "active" }}
        {{ range $key, $value := .Data.Terms }}
        <li class="nav-item nav-link tag-item" >
            <a class='{{ $.Scratch.Get "active"}}' data-toggle="tab" href='{{ printf "#tag-%s" $key }}' role="tab">
            {{ $key }}
            </a>
        </li>
        {{ $.Scratch.Set "active" "" }}
        {{ end }}

    </ul>
    <div class="py-2">
        
    </div>
<div class="tab-content">
{{ $.Scratch.Set "active" "active" }}

{{ range $key, $value := .Data.Terms }}
    <div class='tab-pane {{ $.Scratch.Get "active" }}'   id='{{printf "tag-%s" $key}}' role="tabpanel">
{{/* get the last 10 most post in this tag and show more link if there are more left */}}        
        {{ $recents := (first 10 $value.Pages)}}
        {{ if gt (len $value.Pages ) 10 }}
        <a href='{{ "/" | relLangURL }}{{ $.Data.Plural | urlize }}/{{ $key | urlize }}'>All...</a>
        {{end }}
        {{ range $recents }}
        {{ partial "summary.html" .}}
        <div class="py-1">
            
        </div>
        {{ end }}
    </div>
    {{ $.Scratch.Set "active" "" }}
{{ end }}
</div>
<div class="py-3">
    
</div>
{{ end }}
