
{{ define "main" }}
<h2>tags </h2>
  <article class="">
      <h2> {{ .Title }}</h2>

          {{if .Content }}
      <div class="card">
        <div class="card-body">
          {{ .Content }}
        </div>
      </div>
     {{ end }} 
    </div>
  </article>

<div class="content list-content">
  <div class="">
    <section class="">
      {{ range  .Data.Pages }}
        <div class="">
            {{ .Name }}
        </div>
        <div class="py-1"></div>
      {{ end }}
    </section>
<nav aria-label=" Page navigation">
    {{ partial "pagination.html" . }}
</nav>
  </div>
</div>
{{ end }}
