<div class="nav-area">
<aside class="mdc-persistent-drawer mdc-typography">
  <nav class="mdc-persistent-drawer__drawer">
    <header class="mdc-persistent-drawer__header">
      <div class="mdc-persistent-drawer__header-content">
        Header here
      </div>
    </header>
    <nav id="icon-with-text-demo" class="mdc-persistent-drawer__content mdc-list">
      <a class="mdc-list-item mdc-persistent-drawer--selected" href="#">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">inbox</i>Inbox
      </a>
      <a class="mdc-list-item" href="#">
        <i class="material-icons mdc-list-item__start-detail" aria-hidden="true">star</i>Star
      </a>
    </nav>
  </nav>
</aside>
<header class="mdc-toolbar toolbar">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">

      <a href="#" class="material-icons mdc-toolbar__menu-icon toggle-menu"><img src='{{ "img/ic_menu_white_24px.svg" | absURL }}'></a>
      <span class="mdc-toolbar__title">{{ $.Site.Title }} </span>
    </section>
    {{  $mobiles := .Site.Params.mobileToolbar }}
    {{ if $mobiles }}
        {{ range $mobiles}}
            <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
              {{ . }}
            </section>

        {{ end }}
    {{ end }}
    
  </div>
  
</header>



</div>