<div class="nav-area">
<aside class="card drawer " > 
    <div class="drawer-content" data-simplebar>
        <div class="py-2"></div>
        
        <div class="card mx-auto avatar">
            <a href='{{ $.Site.BaseURL }} '>
         <img class=" avatar" src='{{ "img/avatar.png" | relURL }}' alt="avatar">
            </a>
        </div>
            

          <div class="py-3"></div>

          <div class="card">
              <div class="card-body">
                  <h4 class="card-title">
                      {{ .Site.Params.author }}
                  </h4>
                  <div class="card-text">
                     {{ .Site.Params.biography }}      
                  </div>
              </div>
          </div>
          
          <div class="py-3"></div>


        

        <ul class="d-flex flex-column align-items-end justify-content-start hoverable ">

            {{ range .Site.Menus.main }}
                
                <li id="{{ .Name }}" class=' mb-1' style="width: 80%"> <a class="card my-auto text-right pr-3  " href="{{ .URL }}"> {{ .Name }}</a> 
                  {{ if .HasChildren }}

                  <ul id='{{ .Name | printf "%s-%s" "children"}}' class="d-flex flex-column align-items-start justify-content-start hovered" >
                      {{ range .Children }}
                         <li  > <a class="card" href="{{.URL}}"> {{ .Name }} </a> </li>
                    
               
                      {{ end }}
                  </ul>
              
                  {{ end }}
              </li>
            {{ end }}

        </ul>
    </div>
</aside>


<div class="toolbar">
    

<nav class="navbar navbar-expand-lg  navbar-bg header">
      <a href="#" class="navbar-brand toggle-menu d-flex align-items-center ">
          <div class="menu-icon">
              <span class="menu-bar menu-top-bar"></span>
              <span class="menu-bar menu-middle-bar"></span>
              <span class="menu-bar menu-bottom-bar"></span>
          </div>
      </a>
      <span class="navbar-text site-title mr-auto">
          <a href='{{ $.Site.BaseURL }}'>
              {{ $.Site.Title }} 
          </a>
     </span>

  
   


</nav>
</div>

</div>
