<div class="nav-area">
<aside class="card drawer " data-simplebar> 
    <div class="draw-content">
        
          <img class="avatar" src='{{ "img/avatar.png" | absURL }}' alt="avatar">
          <p>{{ .Site.Params.biography }}</p>

    </div>
<ul>

   {{ range .Site.Menus.main }}
   {{ .Name }}
              {{ if .HasChildren }}
              <ul>
              {{ range .Children }}
                {{ .Name }}
              {{ end }}
                  
              </ul>
              {{ end }}
    {{ end }}
    
</ul>
</aside>


<div class="toolbar">
    

<nav class="navbar navbar-expand-lg navbar-light bg-light ">

      <a href="#" class="bg-primary toggle-menu"><img src='{{ "img/ic_menu_white_24px.svg" | absURL }}'></a>

      <a href='{{ $.Site.BaseURL }}'>
        <span class="navbar-brand mb0">{{ $.Site.Title }} </span>
      </a>

  
   
    <ul class="nav justify-content-end">
         {{  $mobiles := .Site.Params.mobileToolbar }}
    {{ if $mobiles }}
        {{ range $mobiles}}

      <li class="nav-item ">
        <a class="nav-link" href="#">{{ . }}</a>
      </li>
        {{ end }}
    {{ end }}
    </ul>


</nav>
</div>

</div>