{{ define "main" }}
{{ if .Params.uuid }}
  {{/* if there is uuid, then the card can be dismissed and will not display next time.*/}}
<article class="card dismissable">

  <div class="card-body">
    <h4 class="card-title">{{ .Title }}</h4>
    <p class="card-text">{{ .Content }}</p>
    <a href="#" id="dismiss" class="btn btn-primary dismiss " data-uuid="{{ .Params.uuid }}">Dismiss</a>
  </div>
</article>

  {{ else }}
  <article class="card" style="width: 100%">
    <div class="card-body">
    {{  .Content }}
    </div>
  </article>

{{ end }}

 {{/*  pull recent posts, which are the posts recent with lastMod
   */}}
  <nav class="nav nav-pills nav-fill">
  <a id="recents-tab" class="nav-item nav-link active" href="#">Recent Published</a>
  <a id="updates-tab" class="nav-item nav-link" href="#">Recent Upgraded</a>
</nav>
  {{ $count := $.Param "recent_posts_number" | default 3}}
<div id="recents" style="display: block;">

  {{ $pages := (first $count .Site.Pages)}}
  {{ range $pages }}
    {{ .Summary }}  
  {{ end }}
</div>
<div id="updates" style="display: none;">
  <h2>updates</h2>
</div>
    
  
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

    <div class="pa3 pa4-ns w-100 w-70-ns center">
      {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
       {{ with .Site.GetPage "section" $section_name }}
          <h1 class="flex-none">
            Recent {{ .Title }}
          </h1>
        {{ end }}

      {{ $n_posts := $.Param "recent_posts_number" | default 3 }}

      <section class="w-100 mw8">
        {{/* Range through the first $n_posts items of the section */}}
        {{ range (first $n_posts $section) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
        {{ end }}
      </section>

      {{ if ge $section_count (add $n_posts 1) }}
      <section class="w-100">
        <h1 class="f3">More</h1>
        {{/* Now, range through the next four after the initial $n_posts items. Nest the requirements, "after" then "first" on the outside */}}
        {{ range (first 4 (after $n_posts $section))  }}
          <h2 class="f5 fw4 mb4 dib mr3">
            <a href="{{ .URL }}" class="link black dim">
              {{ .Title }}
            </a>
          </h2>
        {{ end }}

        {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
        {{ with .Site.GetPage "section" $section_name }}
          <a href="{{ .URL }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">All {{.Title }}</a>
        {{ end }}
        </section>
      {{ end }}

      </div>
  {{ end }}
{{ end }}
