{{ define "main" }}
{{ if .Params.uuid }}
  {{/* if there is uuid, then the card can be dismissed and will not display next time.*/}}
<article class="card dismissable">

  <div class="card-body">
    <h4 class="card-title">{{ .Title }}</h4>
    <p class="card-text">{{ .Content }}</p>
    <a href="#" id="dismiss" class="btn btn-primary dismiss " data-uuid="{{ .Params.uuid }}">Dismiss</a>
  </div>
</article>
<div class="py-2"></div>

  {{ else }}
  <article class="card" style="width: 100%">
    <div class="card-body">
    {{  .Content }}
    </div>
  </article>
<div class="py-2"></div>
{{ end }}

 {{/*  pull recent posts, which are the posts recent with lastMod
   */}}
  

<ul class="nav nav-tabs justify-content-center nav-justified mb-2" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active " data-toggle="tab" href="#publish" role="tab">Recent Published</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#update" role="tab">Recent Updated</a>
  </li>

</ul>
 {{ $count := $.Param "recent_posts_number" | default 3}}
<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active" id="publish" role="tabpanel">
     {{ $pages := (first $count .Site.RegularPages.ByDate.Reverse )}}
  {{ range $pages }}
      {{ partial "summary-with-image.html" . }}
  {{ end }}
  </div>
  <div class="tab-pane" id="update" role="tabpanel">
    <h2>updates</h2>
       {{ $counter := $count }}
       {{ range .Site.RegularPages }}
          {{ if (gt $counter 0) }}
            {{ if (gt .Lastmod .Date ) }}
                {{ partial "summary-with-image.html" .}}
                {{ $counter := (sub $counter 1)}}
            {{ end }}
          {{ end }}

       {{ end }}
   
  </div>

</div>

    
  

{{ end }}
